language: python
python:
  - "3.6"
  - "3.7"

install:
  - python setup.py develop
  - pip install cltk
  - pip install coveralls
  - pip install nose

# command to run tests
script:
  - pie-extended install-addons lasla
  - nosetests --with-coverage --cover-package=pie_extended --cover-xml --verbose --nologcapture --with-doctest
after_success:
  - coverage combine
  - coveralls